<!DOCTYPE html>
<html>
<head>
    <title>INFJ Basics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% include 'navbar.html' %}

<div class="page">

    <h1>INFJ Basics</h1>

    <div class="card" style="width:90%;">

        <p>
            INFJs are often called “The Advocate” or “The Mystic.”
            They are deeply intuitive, emotional, visionary,
            empathetic, and meaning-driven individuals.
        </p>

        <p>
            INFJs often feel different from others because they:
        </p>

        <ul>
            <li>Think deeply about life</li>
            <li>Need emotional authenticity</li>
            <li>See hidden meanings and patterns</li>
            <li>Feel emotions intensely</li>
            <li>Value purpose over status</li>
            <li>Crave deep connection instead of surface interaction</li>
        </ul>

    </div>

</div>

</body>
</html>